.handsontable .test {
  background-color: #ff4f4f;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}

.heading {
  font-size: 18px;
  font-weight: bold;
}

.test1 {
  font-size: 14px;
  font-weight: bold;
}

.smallHeading {
  font-size: 12px;
  font-weight: bold;
}

.adjust-fit {
  margin-right: auto;
  margin-left: auto;

  position: static;
  overflow: hidden;

  padding-right: 10px;
  padding-left: 10px;
}
