.handsontable .test {
  background-color: #ff4f4f;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}

.heading {
  font-size: 18px;
  font-weight: bold;
}

.test1 {
  font-size: 14px;
  font-weight: bold;
}

.smallHeading {
  font-size: 12px;
  font-weight: bold;
}

.adjust {
  overflow: hidden;

  /*height: 60vh;
  width: 100vw;*/
  width: min(100vw, 1800px);
  height: min(100vh, 722px);
  /*justify-content: center;
  align-items: center;*/
  
}